* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #262632;
}

header {
    background: white;
    padding: 20px;
}

.result{
    font-size: 40px;
    color: white;
}

